.ProductBox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 8px;
    row-gap: 12px;
    margin-top: 80px;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
}
.loader img{
    width: 400px;
}
.emptyPara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    opacity: 80%;
    text-align: center;
}

.mainBox{
    text-align: center;
    width: 90%;
    margin: auto;
}
@media screen and (min-width:400px) and (max-width:700px) {
    .ProductBox{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and  (max-width:400px) {
    .ProductBox{
        grid-template-columns: repeat(1,1fr);
    }
}
