.leftBox{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.logo{
    width: 60px;
}
.leftBox img{
    width: 50px;
    height: 50px;
}
.mainBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: white;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    z-index: 111;
}
.rightBox{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger{
    display: none;
}
@media screen and (min-width:550px) and (max-width:1000px){
    .leftBox{
        width: 50%;
    }
    .rightBox{
        width: 50%;
    }
}

@media screen and (max-width:550px) {
    .mainBox{
     display: grid;
        left: 0;
        top: 20px;
       width: 100%;
     z-index: 111;
    }
    
    .leftBox{
       display: grid;
        gap: 10px;
    }
    .rightBox{
       display: grid;
       margin-top: 6px;
        gap: 10px;
    }
    .hamburger{
        display: flex;
        font-size: 24px;
        position: fixed;
        z-index: 111;
        top: 0;
    }
}